.aboutPageContainer p{
    display: flex;
    flex-direction: column;
    font-family: roboto;
}
.aboutPageContainer h3{
    display: flex;
    flex-direction: column;
    font-family: roboto;
}

.aboutPageContainer h3:hover {
    cursor: pointer;
    color: red
}
h1{
    font-size: 40px;
    color: red;
}
.collabs {
    text-decoration: underline;
}