
.aboutPageContainer h3:hover {
    cursor: pointer;
    color: red
}
h1{
    color: black;
    border-radius:5px;
    font-family: roboto;
    font-size: 70px;
    letter-spacing: 2px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 5px;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
.collabs {
    text-decoration: underline;
    color: black;
    margin: 50px auto;
	text-align: center;
	text-shadow: -1px -1px 0px rgba(238, 18, 18, 0.986), 1px 1px 0px rgba(0,0,0,0.8);
	font: 700 40px 'Bitter';
}

.BioSection {
    display: grid;
    grid-template-columns: 260px 240px;  
}

.BioSection p, 
.BioSection a {
    grid-column: 2/3;
}
