.videoList{
    list-style-type: none;
    display: grid;
    grid-template-columns: 400px 400px;
    column-gap: 50px;
    
}
.video-thumbnail {
    width: 350px;
    height: 300px;
    border: 2px solid black;
    border-radius: 2%;
}

h3 {
    color:black;
    
}
a{
    text-decoration: none;
}

.search-form > input {
    height: 38px;
    font-size: 20px;
    border: 2px solid black;
}

.search-form{
    margin-bottom: 40px;
}

.order-list {
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    color:#ffffff;
    margin-left: 100px;
    height: 42px;
    font-size: 20px;
}

.red-button {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color: red;
	border-radius:3px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:10px 10px 10px 10px;
	text-decoration:none;
}
.red-button:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:red;
}
.red-button:active {
	background:linear-gradient(to bottom, #dd6565 5%, #ff2f00 100%);
}

.search-error {
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
  border-radius: 5px;
}
       